h1.header.center.orange-text Search for your City
.row.center
  form#forecast action=forecasts_path method="get"
    .input-field.col.s8.offset-s2
      input placeholder="Dhaka, BD" name="s" id="s" type="text" class="validate" required="required"
    input.waves-effect.waves-light.btn-large type='submit' value='Check now'