h1.header.center.orange-text 5 days forecast for #{@city}

.row
  .col.m6.l6.s12.offset-m3.offset-l3
    div.collection
      - @forecasts.each do |date, forecast|
        a.collection-item.avatar href=forecast_path(date: date, s: @city)
          img.circle src="http://openweathermap.org/img/w/#{forecast[:icon]}.png" alt=""
          span.title= "#{@city} on #{humanize_date(date)}"
          p= "#{forecast[:weather]} with #{forecast[:temp]} degree celsius".humanize