h1.header.center.orange-text #{@city} on #{humanize_date(@date)}

.row
  .col.m6.l6.s12.offset-m3.offset-l3
    ul.collection
      li.collection-header
        h4
          img.circle src="http://openweathermap.org/img/w/#{@forecast[:icon]}.png" alt=""
          = @forecast[:weather].humanize
      li.collection-item
        strong> Temperature
        = @forecast[:temp]
        | &deg; celsius
      li.collection-item
        strong> Humidity
        = @forecast[:humidity]
        |%
      li.collection-item
        strong> Wind Speed
        = @forecast[:wind]
        | meter/sec