doctype html
html lang="en"
  head
    title Weather Forecaster
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    /= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'

  body
    nav.teal.lighten-2 role="navigation"
      .nav-wrapper.container
        a#logo-container.brand-logo href="/" Weather Forecaster

    main
      #index-banner.section.no-pad-bot
        .container
          br/
          br/
          == yield

    footer.page-footer.grey.darken-3
      .footer-copyright
        .container
          == "&copy; #{Date.today.year} Weather Forecaster. Built by <a href='https://www.babar.im'>Babar Al-Amin</a>."